footer.footer
  .footer-container
    .footer-column
      h4 HỖ TRỢ
      p Quý khách có thể liên hệ với chúng tôi qua 
        | Hotline 
        a(href="tel:+842838614107") +84 2838614107
        | , 
        a(href="#") Zalo
        | , 
        a(href="mailto:email@example.com") Email
        | , hoặc 
        a(href="#") các phương thức liên hệ khác.
      ul
        li: a(href="#") Câu hỏi thường gặp
        li: a(href="#") Chăm sóc sản phẩm
        li: a(href="#") Cửa hàng

    .footer-column
      h4 DỊCH VỤ
      ul
        li: a(href="#") Dịch vụ bảo hành
        li: a(href="#") Dịch vụ cá nhân hóa
        li: a(href="#") Nghệ thuật tặng quà
        li: a(href="#") Tải ứng dụng của chúng tôi

    .footer-column
      h4 VỀ SHOPPERFUME
      ul
        li: a(href="#") Buổi trình diễn thời trang
        li: a(href="#") Nghệ thuật & Văn hóa
        li: a(href="#") La Maison
        li: a(href="#") Phát triển bền vững
        li: a(href="#") Tin mới nhất
        li: a(href="#") Nghề nghiệp
        li: a(href="#") Foundation SHOPPERFUME

    .footer-column
      h4 KẾT NỐI VỚI CHÚNG TÔI
      p
        a(href="#") Đăng ký
        |  nhận thư điện tử để cập nhật những tin tức mới nhất từ Louis Vuitton, bao gồm các buổi ra mắt độc quyền trực tuyến và bộ sưu tập mới.
      p
        a(href="#") Theo dõi chúng tôi

  .footer-bottom
    a.country(href="#")
      img.flag(src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg", alt="Vietnam Flag")
      |  Việt Nam
    .bottom-links
      a(href="#") Sơ đồ trang web
      a(href="#") Pháp lý & Quyền riêng tư
  .footer-logo SHOPPERFUME
