header.header
  .main-header
    .header-left
      button.menu-btn
        i.fa.fa-bars
        span Menu
      button.search-btn
        i.fa.fa-search
        span Tìm kiếm

    .header-logo
      img(src='/image/logo.svg', alt='Logo', style='height:40px;display:block;margin:0 auto;')

    .header-right
      a(href="#") Liên hệ với chúng tôi
      i.fa.fa-heart
      a(href="/user/login").fa.fa-user

  .sub-header
    .category
      span Tất cả Nước hoa 
      i.fa.fa-angle-down
    button.filter-btn
      span Bộ lọc
      i.fa.fa-sliders
