header.header
  .main-header
    .header-left
      button.menu-btn
        i.fa.fa-bars
        span Menu
      button.search-btn
        i.fa.fa-search
        span Tìm kiếm

    .header-logo
      img(src='/image/logo.svg', alt='Logo', style='height:40px;display:block;margin:0 auto;')

    .header-right
      a(href="#") Liên hệ với chúng tôi
      if user 
        a.fa.fa-heart(href="/wishlist")
      else 
        a.fa.fa-heart(href="/user/login")
      //- User dropdown
      if user && user.username
        .dropdown
          button.btn.btn-light.border.rounded-pill.px-3.dropdown-toggle#userMenu(
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          )
            i.fas.fa-user-circle.mr-2.text-primary
            | #{user.username}
          ul.dropdown-menu.dropdown-menu-end.shadow(aria-labelledby="userMenu")
            li
              a.dropdown-item(href="/user/orders")
                i.fas.fa-shopping-cart.mr-2
                | Đơn mua
            li
              hr.dropdown-divider
            li
              a.dropdown-item.text-danger(href="/user/logout")
                i.fas.fa-sign-out-alt.mr-2
                | Đăng xuất
      else
        a(href="/user/login")
          i.fas.fa-user-circle

  .sub-header
    .category
      span Tất cả Nước hoa 
      i.fa.fa-angle-down
    button.filter-btn
      span Bộ lọc
      i.fa.fa-sliders
